<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Geoex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Geoex.Properties.Settings>
            <setting name="GARDNERDENVER2000" serializeAs="String">
                <value>GARDNER DENVER 2000 

NOTAS:</value>
            </setting>
            <setting name="GARDNERDENVER15W" serializeAs="String">
                <value>GARDNER DENVER 15W

NOTAS:</value>
            </setting>
            <setting name="MAYHEW1000" serializeAs="String">
                <value>MAYHEW 1000

NOTAS:</value>
            </setting>
            <setting name="MIDWAY15M" serializeAs="String">
                <value>MIDWAY 15M

NOTAS:</value>
            </setting>
            <setting name="IRCYCLONRO300" serializeAs="String">
                <value>IR CYCLON RO 300

NOTES:</value>
            </setting>
            <setting name="BUCYRUSERIE22" serializeAs="String">
                <value>BUCYRUSERIE 22

NOTAS:</value>
            </setting>
            <setting name="BUCYRUSERIE36L" serializeAs="String">
                <value>BUCYRUSERIE 36L

NOTAS:</value>
            </setting>
            <setting name="INGERSOLLRAND1" serializeAs="String">
                <value>INGERSOLLRAND 1

NOTES:</value>
            </setting>
            <setting name="INGERSOLLRAND2" serializeAs="String">
                <value>INGERSOLLRAND 2

NOTAS:</value>
            </setting>
            <setting name="SULLAIR" serializeAs="String">
                <value>SULLAIR

NOTAS:</value>
            </setting>
            <setting name="NCA" serializeAs="String">
                <value>NCA

NOTAS:</value>
            </setting>
        </Geoex.Properties.Settings>
    </userSettings>
</configuration>